*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    background-image: url(../img/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.homepage__header a{
    text-decoration: none;
    position: absolute;
    top: 15px;
    left: 15px;
    // background: transparent;
    cursor: pointer;
    // width: 100%;
    // backdrop-filter: blur(10px);
    border-radius: 12px;
    color:#EDEEF3;
    font-size: 20px;
    // padding: 20px;
}
.homepage__header a:hover{
    color: #3a5e86;
}
.homepage__header .play-outline{
    float: left;
}
.homepage__header h1{
    text-transform: uppercase;
}

.homepage__container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    background-color: aliceblue;
}

.homepage__container a {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #141E30, #243B55);
    color: #EDEEF3;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    float: right;
    position: relative;
    top: 12px;
    right: 12px;
    text-decoration: none;
}
.homepage__container a:hover {
    background: linear-gradient(to right, #3a465b, #3a5e86);
}

.homepage__container h1{
    font-weight: bold;
    font-size: 20px;
}