<title>Nor Music</title>

<body>
  <!-- from login -->
  <div class="homepage">
    <div class="homepage__header">
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">
            {{!-- <img src="/img/brand.png" alt="Brand" width="50" height="50"> --}}
            <ion-icon name="musical-notes-outline" class="musical-notes-outline"></ion-icon>
            NOR MUSIC
          </a>
        </div>
      </nav>
    </div>
    <div class="homepage__container">
      <form action="">
        <h1>Welcome to Nor Music.</h1>
        <p>I hope you enjoy this moment as you listen to music.</p>
        <p>I'm Norsmither. This is my website, this is all my songs.</p>
        <a href="/mp3-player" class="homepageButton">
          <ion-icon name="log-in-outline"></ion-icon>Let's start!
        </a>
      </form>
    </div>
  </div>
</body>
<script src="/homepage"></script>

{{!--
<script src="/loginValidate.js"></script> --}}
{{!--
<script>
  Validator({
    form: '#form-1',
    errorSelector: ".form-message",
    rules: [
      Validator.isUsername('#email', 'Please enter your email'),
      Validator.isEmail('#email'),
      Validator.minLength('#password', 6)
    ]
  })
</script> --}}
{{!--
<script src="/login.js"></script> --}}