<title>Log in </title>

<body>
  <!-- from login -->
  <div class="login">
    <div class="login__container">
      <h1>Login</h1>
      <form action="" method="post" id="form-1">
        <div class="form-group">
          <input type="email" class="input-login-email form-control" name="email" id="email" required="">
          <label for="email">Email</label>
          <span class="form-message"></span>
        </div>
        <br><br>
        <div class="form-group">
          <input type="password" class="input-login-password form-control" name="password" id="password" required="">
          <label for="password">Password</label>
          <span class="form-message"></span>
        </div>
        <br>
        <button type="submit" class="login__signInButton">Login</button>
        {{!-- <input type="button" class="login__signInButton" onclick="handleLogin()" value="Đăng nhập"> --}}
      </form>
      <span class="login__registerButton">Don't have an account? <a href="/user/signup">Sign up</a></span>
    </div>
  </div>
</body>

<script src="/loginValidate.js"></script>
<script>
  Validator({
    form: '#form-1',
    errorSelector: ".form-message",
    rules: [
      Validator.isUsername('#email', 'Please enter your email'),
      Validator.isEmail('#email'),
      Validator.minLength('#password', 6)
    ]
  })
</script>
<script src="/login.js"></script>