<div class="container-fluid">
    <div class="music-player">
        <span id="loading-message"><strong>Vui lòng chờ giây lát...</strong></span>
        <div class="song-list mt-4">
            <button class="btn" data-bs-toggle="collapse" data-bs-target="#songList" aria-expanded="false"
                aria-controls="songList"><i class="fas fa-list"></i> <strong>Danh sách bài hát</strong></button>
            <div class="collapse" id="songList">
                <div class="list-group mt-3"></div>
            </div>
        </div>
        <br>
        <div class="music-info">
            <img src="../img/TAMBIETEM.png" alt="Tạm Biệt em" class="music-thumbnail" id="thumbnail">
            <div class="music-details">
                <h3 class="music-name"><strong>Tạm Biệt Em</strong></h3>
            </div>
        </div>
        <div class="flex-container">
            <div class="remaining">00:00</div>
            <input type="range" name="range" id="range" class="range form-range mb-3">
            <div class="duration">00:00</div>
        </div>
        <audio src="" id="song" class="mb-3"></audio>
        <div class="music-controls">
            <div class="music-controls">
                <i class="fas fa-random fa-fw"></i>
                <i class="fas fa-backward fa-fw"></i>
                <i class="fas fa-play fa-fw"></i>
                <i class="fas fa-forward fa-fw"></i>
                <i class="fas fa-redo-alt fa-fw"></i>
            </div>
        </div>
    </div>
</div>
