<title>Signup</title>
<body>
  <!-- form signup -->
  <div class="signup">
    <div class="signup__container">
      <h1>Signup</h1>
      <form action="" method="post" id="form-1">
        <div class="form-group">
          <input type="text" class="input-signup-username form-control" name="username" id="username" required=""/>
          <label for="username">Full Name</label>
          <span class="form-message"></span>
        </div>
        <br><br>
        <div class="form-group">
          <input type="email" class="input-signup-email form-control" name="email" id="email" required=""/>
            <label for="email">Email</label>
          <span class="form-message"></span>
        </div>
        <br><br>
        <div class="form-group">
          <input type="password" class="input-signup-password form-control" name="password" id="password" required=""/>
            <label for="password">Password</label>
          <span class="form-message"></span>
        </div>
        <br><br>
        <div class="form-group">
          <input type="password" class="input-signupRepeat-password form-control" name="password" id="passwordRepeat" required=""/>
            <label for="password">Confirm Password</label>
          <span class="form-message"></span>
        </div>
        <br><br>
        <button type="submit" class="signup__signInButton">Signup</button>
      </form>
      <span class="signup__registerButton">Already have an account? <a href="/user/login">Sign in</a></span>
    </div>
  </div>
</body>

<script src="/signupValidate.js"></script>
<script>
  Validator({
    form: '#form-1',
    errorSelector: ".form-message",
    rules: [
      Validator.isUsername('#username', 'Please enter your full name'),
      Validator.isUsername('#email', 'Please enter your email'),
      Validator.isEmail('#email'),
      Validator.minLength('#password', 6),
      Validator.isUsername('#passwordRepeat'),
      Validator.isConfirmed('#passwordRepeat', function () {
        return document.querySelector("#form-1 #password").value;
      }, 'Re-entered password is incorrect')
    ],
    //onsubmit: function(data)
    //{
    //  {{!-- Call API --}}
    //  console.log(data);
    //}
  })
</script>
<script src="/signup.js"></script>
