/* Reset CSS */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Container */
.container-fluid {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease, background-color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* Music Info */
.music-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
}

/* Music Player */
.music-player {
  text-align: center;
}

/* Music Thumbnail */
.music-thumbnail {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, border 0.5s ease;
}

.music-thumbnail:hover {
  transform: scale(1.05);
  border: 8px solid #f1f1f1;
}
/* Music Details */
.music-details {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* Music Controls */
.music-controls {
  margin-top: 30px;
  font-size: 28px;
}

/* Flex Container */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Duration and Remaining */
.duration,
.remaining {
  text-align: center;
  font-weight: bold;
}

.music-controls i {
  margin: 0 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.music-controls i:hover {
  transform: scale(1.2);
}

/* Collapse */
.collapse {
  transition: height 0.3s ease;
}

/* Song List */
.song-list {
  margin-top: 40px;
}

.list-group {
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

/* Input Range */
input[type="range"] {
  -webkit-appearance: none;
  width: calc(100% - 160px);
  height: 15px;
  background: white;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  border-radius: 5px;
  margin-top: 20px;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: black;
  cursor: pointer;
  border-radius: 50%;
}

/* Animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.is-playing .music-thumbnail {
  animation: rotate 4s linear infinite;
}

/* Button */
.btn-dark {
  transition: transform 0.3s ease;
}

.btn-dark:hover {
  transform: scale(1.1);
}