*,
*:before,
*:after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  font: inherit; }

img,
picture,
svg,
video {
  display: block;
  max-width: 100%; }

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif; }

/* style login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: monospace;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-image: url(../img/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.login__container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative; }

.login__container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: #EDEEF3; }

.login__container form {
  display: flex;
  flex-direction: column; }

.login__container form label {
  position: absolute;
  left: 0;
  padding: 10px 22px;
  color: linear-gradient(to right, #141E30, #243B55);
  font-size: 1.0rem;
  pointer-events: none;
  transition: 0.5s;
  color: #EDEEF3; }

.login__container form input {
  width: 100%;
  padding: 7px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background: transparent;
  color: #EDEEF3;
  font-size: 1.4rem; }

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-1.5rem);
  color: linear-gradient(to right, #141E30, #243B55);
  font-size: 0.75rem; }

.login__container form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #141E30, #243B55);
  color: #EDEEF3;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold; }

.login__container form button:hover {
  background: linear-gradient(to right, #3a465b, #3a5e86); }

.login__container form a {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333; }

.login__container form a:hover {
  color: #555; }

.login__registerButton {
  margin-top: 14px;
  border: none;
  border-radius: 5px;
  color: #EDEEF3;
  font-size: 15px;
  display: block;
  text-align: center;
  text-decoration: none; }

.login__registerButton a {
  color: #EDEEF3;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none; }

.login__registerButton a:hover {
  color: dimgray; }

/* style signup */
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: monospace;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-image: url(../img/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.signup__container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative; }

.signup__container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: #EDEEF3; }

.signup__container form {
  display: flex;
  flex-direction: column; }

.signup__container form label {
  position: absolute;
  left: 0;
  padding: 10px 22px;
  color: linear-gradient(to right, #141E30, #243B55);
  font-size: 1.0rem;
  pointer-events: none;
  transition: 0.5s;
  color: #EDEEF3; }

.signup__container form input {
  width: 100%;
  padding: 7px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background: transparent;
  color: #EDEEF3;
  font-size: 1.4rem; }

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-1.5rem);
  color: linear-gradient(to right, #141E30, #243B55);
  font-size: 0.75rem; }

.signup__container form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #141E30, #243B55);
  color: #EDEEF3;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold; }

.signup__container form button:hover {
  background: linear-gradient(to right, #3a465b, #3a5e86); }

.signup__container form a {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333; }

.signup__container form a:hover {
  color: #555; }

.signup__registerButton {
  margin-top: 14px;
  border: none;
  border-radius: 5px;
  color: #EDEEF3;
  font-size: 15px;
  display: block;
  text-align: center;
  text-decoration: none; }

.signup__registerButton a {
  color: #EDEEF3;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none; }

.signup__registerButton:hover {
  color: dimgray; }

.form-group.invalid .form-control {
  border-color: #f33a58; }

.form-group.invalid .form-message {
  color: #f33a58; }

.form-message {
  font-size: 11px;
  padding: 4px 0 0;
  font-weight: bold;
  float: right; }
